*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(135deg, #3498db,#106299);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: #f8f9fa;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 12px #060606;
    width: 100%;
    max-width: 400px;
}
h2{
    text-align: center;
    margin-bottom: .5rem;
    color: #08456e;
}
.entrada{
    margin-bottom: 2rem;
}
label{
    display: block;
    margin-bottom: .5rem;
    color: #0c5687;
}
input{
    width: 100%;
    padding: .5rem;
    border: 1px solid #2f2f30;
    border-radius: .4rem;
    outline: none;
}